div {
    
}
header {
    padding: 12px;
}

main {
    border-style: dotted;
    max-width: 800px;
    margin: auto;
    background-color: lightblue;
}

img {
    width: 200px;
    height: 300px;
}


html {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

footer {
    margin-top: 24px;
    padding: 24px;
    background-color: teal;
}

